$font: "Noto Sans TC";
$font_nav: "M PLUS Rounded 1c", sans-serif;

header {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  height: 6rem;

  ;
}

.icon_text {
  font-family: $font_nav;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  color: #59597c;
}
