html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-image: url(../assets/images/background_design.svg);
  background-repeat: no-repeat cov;
  background-size: cover;
}

.btn {
  margin: 5px;
  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid transparent;
  padding: 12px 32px;
  cursor: pointer;
  background: radial-gradient(
    104.16% 106.67% at 50% 0%,
    #fe9b4b 0%,
    #f47814 100%
  );
  box-shadow: 0px 4px 8px rgba(255, 115, 0, 0.28);
  border-radius: 8px;
}

//
// Base styles
//

.btn {
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;

  &:hover {
    color: $body-color;
    transform: scale(1.05);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: 0px 4px 8px rgba(255, 115, 0, 0.28);
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    transform: scale(1);

    &:focus {
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
  }
}

.btn-primary {
  background: radial-gradient(125% 125% at 85.42% 0%, #85d3ff 0%, #2596d7 100%);
  box-shadow: 0px 4px 8px rgba(37, 150, 215, 0.28);

  &:hover {
    background-color: transparent;
    border-color: transparent;
  }

  &:active,
  &:focus,
  &:active:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0rem;
  }
}

.btn-secondary {
  background: #d8d8d8;
  color: #737373;
  box-shadow: 0px 4px 8px rgba(160, 160, 160, 0.28);

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background: #d8d8d8;
    color: #737373;
    box-shadow: 0px 4px 8px rgba(160, 160, 160, 0.28);
    border: transparent;
  }
}


//overlay
.overlaybox {
  position: relative;
  background: #ffffff;
  border-radius: 8px;

  img {
    width: 100%;
    height: 4.5rem;
  }
  button {
    a {
      text-decoration: none;
      color: white;
      font-weight: 900;
      font-size: 16px;
    }
  }
}
