<!-- 以下為跳轉頁面測試內容--start-- -->
<p>cover-page works!</p>
<button routerLink="/up-file">跳轉下一頁</button>
<!-- 以下為跳轉頁面測試內容--end-- -->

<div class="container cover_txt_wrap">
  <div class="row align-items-md-stretch">
    <div class="col-md-6 cover_txt_wrap-left">
      <div class="container-anima">
        <!-- 大衛動畫放在這 -->
        <!-- <ng-lottie [options]="options"
          (animationCreated)="animationCreated($event)"></ng-lottie> -->
      </div>
    </div>
    <div class="col-md-6 cover_txt_wrap-right">
      <div class="h-100">
        <p class="mb-3">點點簽</p>
        <p class="mb-3">隨手一簽就是潮！</p>
        <div routerLink="/intro" class="btn btn-round" type="button">
          一鍵起簽
        </div>
      </div>
    </div>
  </div>
</div>
